.enseignement-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 100px;
}

.enseignement-paragraph {
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .enseignement-text {
        width: 80%;
        padding: 20px;
    }

    .enseignement-paragraph {
    text-align: start;
}
}

@media (max-width: 480px) {
    .enseignement-text {
        width: 100%;
        padding: 20px;
    }

    .enseignement-paragraph {
    text-align: start;
}
}
